# Server
HOST=localhost
HTTP_PORT=9898

# DB
DSN=host=localhost port=5433 user=go_e_commerce password=asdS23!fg5Td dbname=e-commerce sslmode=disable

# JWT
JWT_SECRET=aHsy2!5Gds1$8s9f7@2Lk0Pq4Xz
JWT_ISSUER=e-commerce-api

# Twilio
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_FROM_PHONE_NUMBER=
# TWILIO_VERIFY_SERVICE_SID=